{% extends "base.html" %}


{% block page_css  %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
{% endblock %}


{% block content %}

<div class="game-container">

    
    <div class="game">
        <h1>Tic-Tac-Toe</h1>
        
        <div class="game-board">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
    </div>

    <div id="game-result"></div>

    <div class="game-mode">
     <select id="game-mode">
        <option value="two-player">Two Player</option>
        <option value="single-player">Single Player</option>
    </select>
    </div>

    <div class="game-navigator">
        
        <button id="previous">Prev</button>
        <button id="start-game">Start</button>
        <button id="next">Next</button>
    </div>

    
</div>
{% endblock %}

{% block page_js %}
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}