{% extends "base.html" %}
{% block title %}SignLanguageTranslator — Prayag Kharel{% endblock %}
{% block page_css %}
<style rel="stylesheet">
    h1{
        
        display: inline-block;
        border-bottom: 3px solid blue;
        padding-bottom: 5px;
        margin-bottom: 40 px;

    }
    h2{
        font-family: italic;
        text-align: center;
    }

    .pdf{
    background: linear-gradient(
        135deg,
        #ffffff,
        #e9f2ff
    );

    min-height: 100vh;
    padding: 50px 20px;
}
   
</style>
{% endblock %}


{% block content %}
<section class="pdf">
    <a href="https://github.com/prAyAgkhArel/ASL-Classifier-app" target=_blank>
        <h1 >Sign Language Translator App</h1>
    </a>
    
    <h2>Documentation</h2>
    
    <div class="container py-4">
     <p>
       <a href="{{ url_for('static', filename='SignLanguageTranslatorReport.pdf') }}" target="_blank" rel="noopener">
         Open documentation in a new tab ↗
       </a>
     </p>
     <iframe
       src="{{ url_for('static', filename='SignLanguageTranslatorReport.pdf') }}"
       width="100%"
       height="900"
       title="SignLanguageTranslator-Report">
     </iframe>
    </div>

</section>

{% endblock %}