{% extends "base.html" %}

{% block page_css  %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
{% endblock %}

{% block content %}

<section class="project">

    <h1>Projects</h1>

    <div class="project-grid">
        <a href="{{ url_for('main.get_project', project_title='SignLanguageTranslator') }}">
            <div class="project-card">
                <video
                poster="{{ url_for('static', filename='images/sign-poster.jpg') }}"
                controls
                muted
                preload="none">
                <source src="{{ url_for('static', filename='videos/sign-compressed.mp4') }}" type="video/mp4">
                </video>
                <span>Sign Language Translator App</span>
            </div>
        </a>

        <a href="{{ url_for('main.get_project',  project_title='SmartAttendance') }}">
            <div class="project-card">
                    <video
                        poster="{{ url_for('static', filename='images/attendance-poster.jpg') }}"
                        controls
                        muted
                        preload="none">
                    <source src="{{ url_for('static', filename='videos/attendance-v2.mp4') }}" type="video/mp4">
                    </video>
                <span>Smart Attendance System</span>
            </div>
        </a>

        <a href="{{url_for('main.get_project', project_title='Portfolio')}}">
            <div class="project-card">
                <img src="{{ url_for('static', filename='images/portfolio.png') }}" alt="image">
                <span>Portfolio Website</span>
            </div>
        </a>
        
        <a href="{{url_for('main.get_project', project_title='RoomRent')}}">
            <div class="project-card">
                <img src="{{ url_for('static', filename='images/git.svg') }}" alt="image">
                <span>Room Rent Website</span>
            </div>
        </a>

    </div>
</section>


{% endblock %}